.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.page-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 32px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 8px 16px;
  padding-left: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.animal-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 640px) {
  .animal-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.animal-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.animal-card:hover {
  transform: translateY(-5px);
}

.animal-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.animal-info {
  padding: 16px;
  text-align: center;
}

.animal-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.animal-details {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
}

.select-container {
  display: flex;
  justify-content: center;
}

.select-input {
  padding: 8px 16px;
  padding-left: 40px; /* Para alinhar o texto */
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  max-width: 250px;
  appearance: none; /* Remove o estilo padrão do select em alguns navegadores */
  background-color: white;
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.select-input:focus {
  border-color: #007bff; /* Altere para a cor que preferir */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.select-input option {
  padding: 10px;
}

.select-input::-ms-expand {
  display: none;
}

.select-input::before {
  content: "▼";
  font-size: 16px;
  color: #888;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.filters-container {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}